[submodule "firmware/arduino/libraries/Adafruit_NeoPixel"]
	path = firmware/arduino/libraries/Adafruit_NeoPixel
	url = https://github.com/adafruit/Adafruit_NeoPixel.git
[submodule "firmware/arduino/libraries/WiFiManager"]
	path = firmware/arduino/libraries/WiFiManager
	url = https://github.com/tzapu/WiFiManager.git
